<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ManagerTools</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>




    {% load staticfiles %}
    <style>
        body{
            background-image: url("{% static '/lab/bg.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment:fixed
        }
    </style>
</head>


<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">

            <nav class="nav container nav-masthead justify-content-center">
                <a class="nav-link text-warning" href="/resdig/"  target="view_window"><h4>Resdig</h4></a>
                <a class="nav-link text-primary" href="/market/"  target="view_window"><h4>OcO-Market</h4></a>
                <a class="nav-link text-dark" href="/gcc/"  target="view_window"><h4>OcO-GCC</h4></a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h2 class="display-1">Resdig Api</h2>

   <div id="accordion">
            <div>
                <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
                    cheekkey
                </a>
            </div>
            <div id="collapse1" class="collapse show" data-parent="#accordion">
                <div>
                    <h3 class="display-5">用途</h3>
                    <p></p>
                    <h3 class="display-5">请求</h3>
                    <code></code>
                    <h3 class="display-5">响应</h3>
                    <p></p>
                </div>
            </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>

       <div>
           <a class="card-link display-3" data-toggle="collapse" href="#collapse1">
               cheekkey
           </a>
       </div>
       <div id="collapse1" class="collapse show" data-parent="#accordion">
           <div>
               <h3 class="display-5">用途</h3>
               <p></p>
               <h3 class="display-5">请求</h3>
               <code></code>
               <h3 class="display-5">响应</h3>
               <p></p>
           </div>
       </div>





   </div>


</main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Irid,18.9.5</p>
        </div>
    </footer>
</div>


</body>
</html>