www.resdig.net, resdig.net  {
        gzip
        root /root/ocolab/
        proxy / localhost:8000 {
                transparent
        }
}
www.resdig.net/static, resdig.net/static {
        gzip
        root /root/ocolab/static/
}
