
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OcO-GCC</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    {% load staticfiles %}
    <script src="{% static '/gcc/home.js' %}"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8bcac450ee8ec227e44d4fa33a9fec09";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <style>

        body{
            background-image: url("{% static '/gcc/bg.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment:fixed
        }
    </style>
</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">

    </header>

    <main role="main" class="inner cover">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/lab" target="_blank">OcO-Lab</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resdig" target="_blank">Resdig</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/market" target="_blank">OcO-Market</a>
            </li>
        </ul>
        <br>
        <h1 class="display-3 text-muted">OcO-GCC</h1>
        <h1 class="lead text-secondary">加密你的js代码!</h1>
        <br>
        <br>



        <div class="row">

            <div class="col">

                 <textarea id="code" rows="20"  class="form-control text-primary"  style="background:transparent">//你的js代码</textarea>

            </div>

            <div class="col">
                <textarea class="form-control text-success" rows="20" id="encryptedcode"  style="background:transparent">//加密压缩后的代码</textarea>
            </div>

        </div>
        <br>
        <label class="radio-inline"><input type="radio" value="ADVANCED_OPTIMIZATIONS" name="optradio" checked><span class="text-info">ADVANCED_OPTIMIZATIONS</span></label>
        <label class="radio-inline"><input type="radio"  value="SIMPLE_OPTIMIZATIONS" name="optradio"><span class="text-info">SIMPLE_OPTIMIZATIONS</span></label>
        <label class="radio-inline"><input type="radio"  value="WHITESPACE_ONLY" name="optradio"><span class="text-info">WHITESPACE_ONLY</span></label>
        <br>
        <div id="status"></div>
        <button type="button" id="codesubmitbutton"  class="btn btn-primary" ><h6>do it now!</h6></button>

        <br>
        <div class="row" >
            <div class="col">
                <p class="text-info">Erro:<span id="encrypterro"></span></p>
            </div>
            <div class="col">
                <p class="text-info">Waring:<span  id="encryptwaring"></span></p>
            </div>
            <div class="col">
                <p class="text-info">压缩比率:<span id="encryptrate"></span></p>
            </div>
            <div class="col">
                <p class="text-info">Gzip压缩比率:<span id="encryptGrate"></span></p>
            </div>
        </div>
        <br>

    </main>

</div>



</body>
</html>
