:root {
    --global-primary-color: #ff6e40;
    --global-primary-dark-color: #f64c16;
}
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif,"Microsoft YaHei",'宋体';
}

body{
    background-image: url("https://raw.githubusercontent.com/iridesc/ocolabstatic/master/resdig/img/bg.jpg");
}
.btn{
    border-radius: 2px;
    margin-bottom: 0;
}
#commit_header{
    margin:0;
}
.client_type{
    height:1rem;
    width:1rem;
}
.testline{

}
.commit_area{
    margin-right: auto !important;
    margin-left: auto !important;
}
.commit_title{
    overflow: auto;
    white-space:nowrap;
}
#searchview_sub{
    margin-top: 15vh;
}
#alert_area{
    margin-top: auto;
}
#accordion{
    height: 18vh;
    overflow: hidden;
}
.custom-card-header{
    height:6vh;
    align-items: center;
    display: flex;
}
.commit_content{
}
#upanddown{
    width: 100%;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
}

.commit_table{
   display: flex;
}
.commit_tbody{
    display: flex;
    max-width: 100%;
}
.commit_tr{
    max-width: 100%;
}
#main_body{
    display: flex;
    height: 96vh;
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation-delay:1s;
    animation-duration: 1s;
    -webkit-animation-delay:0s;
}

#header{
    display: block;/*block*/
    width: 100vw;
    height: 96vh;
    animation-delay:1s;
    animation-duration: 1s;
    -webkit-animation-delay:0s;
    z-index: 20;
    margin-top: -90vh;
    background:var(--global-primary-color);
}

#loading_field{
    display: none;
    height: 100vh;
}
#blank_guide{
    height:80vh;
}
#searchview{
    height: 90vh;
    display: flex;
}
#search_history_suggestion{
    display: none;
    background: #ffffff;
    z-index: 999;
}
#commit_lg{
    display: none;
    margin-bottom: 20vh;
}
#app_qrcode_lg{
    display: none;
    margin-bottom: 20vh;
}
.donation_text{
    overflow-y: scroll;
    height:auto
}
#wordslogo{
    background: #ffffff;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 0px 10px 10px #888888 ;
}
#uplayer{
}
#wordslogo_pic{
    padding: 0px;
}
#logobackground{
    z-index: 20;
    background:var(--global-primary-color);
    border-radius: 50vw;
    padding: 15px;
}
#logopic{
    z-index: 30;
    text-align: center;
    width: auto;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
}
#task_button{
    display: flex;
    width:100px;
    height:50px;
    border-radius:0 0 50px 50px
}
#searchinput{
    border-radius: 2px;;
    padding: 0;
    box-shadow: 0px 5px 10px  #888888;
    background: #ffffff;
}
#help{
    height:50vh;
    overflow: auto;
}
#help_small{
    height:40vh;
    overflow: auto;
}
#searchinput_input{
    border-width: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    height: auto;
    background-image: linear-gradient(to top, var(--global-primary-color) 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(255, 255, 255, 255) 1px, transparent 1px);
}
#describe_small{
    overflow: auto;
    height: 20vh;
}
#header_tabs{
    margin-top: 10vh;
    height: 80vh;
}
.donation_img{
    height:20vh;
    width:20vh;
}
.donation_field{
    height: 70vh;
}
#donation_history{
    height: 50vh;
    overflow: auto;
}
#commit_part{
    margin-bottom: 0;
    padding: 15px;
}
#pushdownblock{
    margin-top: 0vh;
}
#commit_board{
}
.card{
    border-radius: 2px;
}
#searchinput_button{
    border-width: 0;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    text-align: center;
    border-bottom-right-radius: 2px;
    border-top-right-radius:2px;
}
#marquee_text{
    height: 5vh;
}
#app_qrcode_field{
    padding: 15px;
}
#app_qrcode{
    padding: 0;
    border-radius: 2px;
}
#header_info{
}
.form-control:focus {
    box-shadow: none;
}
.btn:focus{
    box-shadow: none;
}
body{
    overflow:scroll;
    overflow-y:hidden;
    overflow-x:hidden;
    height: 100vh;
    width: 100vw;
}
.btn-go{
    background-color: var(--global-primary-color);
    border-color: var(--global-primary-color);
}
.indicator{
    height: 2vh;
    width: 2vh;
    margin-top: 15px;
    padding: 0;
    border-radius: 1vh;
    background: red;
}
.server_list{
    height: 5vh;
}
#server_list{
    left: auto;
}
.server_status{
    padding: 10px;
    padding-top: 5px;
    margin: 0;
}
#recheckbutton{
    height: 3vh;
}
.server_status_text{
    display: flex;
    border-radius: 2px;
    text-align: center;
    background: #ffffff !important;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color:#009688 !important;
}
.server_status_drop{
    padding-top:  0.375rem;
}
#result{
    height: 85vh;
    background: #ffffff;
    border-radius: 2px;

    display: none;
}
.btn-go{
    color: #ffffff;
}
.btn-go:hover{
    background-color: var(--global-primary-dark-color);
    border-color: var(--global-primary-dark-color);
    color: #ffffff;
}
.btn-go:not(:disabled):not(.disabled):active, .btn-go:not(:disabled):not(.disabled).active,
.show > .btn-go.dropdown-toggle{
     background-color: var(--global-primary-dark-color);
     border-color: var(--global-primary-dark-color);
    color: #ffffff;
 }
.btn-go:not(:disabled):not(.disabled):active:focus, .btn-go:not(:disabled):not(.disabled).active:focus,
  .show > .btn-go.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--global-primary-dark-color);
    color: #ffffff;
  }
@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: visible;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 95%, 0);
    }
}

@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: visible;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 95%, 0);
    }
}
#loading{
    height: auto;
    width: 100%;
    border-radius: 50vh;
}
.shadow-1{
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
.shadow-2{
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
.shadow-3 {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}
.shadow-4 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}
.shadow-5 {
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}
.animate-shadow-1, .animate-shadow-2{
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 1s ease;
    -o-transition: box-shadow 1s ease;
    transition: box-shadow 1s ease;
}
.animate-shadow-3{
     -webkit-transition: box-shadow 1s ease;
     -o-transition: box-shadow 1s ease;
     transition: box-shadow 1s ease;
 }
.animate-shadow-1:hover{
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}
.animate-shadow-2:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}
.animate-shadow-3:hover{
    background-color: rgba(0, 0, 0, 0.08);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
 }
#result_navbar {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}
#backbutton{
    height: 5vh;
    min-width: auto;
    border-radius: 0;
    padding: 0.5rem;
    margin-bottom: 10px;
}
.nav-link{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#backbutton_pic{
    height: 100%;
    width: auto;
}
#searchkey{
    margin:auto;
    height: 5vh;
}
#commit_pic{
    width: 5vh;
}
#app_qrcode_pic{
    width: 5vh;
}
recheckbutton{
    visibility: hidden;
}
.news-item-sub{
    box-shadow:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
}
#searchkeywords{
    display: flex;
    text-align: center;
    width: auto;
}
.badge{
    margin-left: 0.5rem;
}
@keyframes spinner-line-fade-more {
    0%, 100% {
        opacity: 0; /* minimum opacity */
    }
    1% {
        opacity: 1;
    }
}

@keyframes spinner-line-fade-quick {
    0%, 39%, 100% {
        opacity: 0.25; /* minimum opacity */
    }
    40% {
        opacity: 1;
    }
}

@keyframes spinner-line-fade-default {
    0%, 100% {
        opacity: 0.22; /* minimum opacity */
    }
    1% {
        opacity: 1;
    }
}
#marquee_text {
     width: 100%;
     float: left;
     display: inline-block;
     overflow: hidden;
     box-sizing: border-box;
     height: 45px;
     position: relative;
     cursor: pointer;
 }

.marquee-sibling {
    padding: 0;
    background: #3BB0D6;
    width: 20%;
    height: 45px;
    line-height: 42px;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    float: left;
    left: 0;
    z-index: 2000;
}

.marquee,
*[class^="marquee"] {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
}
li{
    list-style: none;
}
.marquee { margin-left: 25%; }

.marquee-content-items {
    display: inline-block;
    padding: 5px;
    margin: 0;
    height: 45px;
    position: relative;
}

.marquee-content-items li {
    display: inline-block;
    line-height: 35px;
    color: #fff;
}

.marquee-content-items li:after {
    margin: 0 1em;
}
.news-item{
}
#describe{
    background-image: linear-gradient(to top, var(--global-primary-color) 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px);
}
#resultlist{
    height:80vh;
    padding-left: 0;
}
#tabContent{
    max-height: 75vh;
    overflow: auto;
}
.control_button{
    height:12px;
}
#title-tab{
  color:#ffffff;
}
#top{
    width: 100%;
}
#table_field{
    height: 40vh;
    white-space: nowrap;
}
.control_button_big{
    height: 18px;
    width: 18px;
    padding: 0;
}
.operation>a:hover{
    color: transparent;
}