<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>OCO-LAB</title>
    <link rel="shortcut icon" href="{% static '/lab/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?5a011edc765591d338c924768235c6b8";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


    <style>
        body{
            background-image: url("{% static '/lab/bg.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment:fixed
        }
    </style>
</head>


<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">

            <nav class="nav container nav-masthead justify-content-center">


                <a class="nav-link text-warning" href="/resdig/"  target="view_window"><h4>Resdig</h4></a>
                <a class="nav-link text-primary" href="/market/"  target="view_window"><h4>OcO-Market</h4></a>
                <a class="nav-link text-dark" href="/gcc/"  target="view_window"><h4>OcO-GCC</h4></a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <img src="{% static '/lab/logo.svg' %} " width="30%" height="30%" style="margin: 20%">
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Irid,18.9.5</p>
        </div>
    </footer>
</div>


</body>
</html>